.noteText {
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 200px;
    margin: 10px;
    text-align: center;
    position: relative;
    box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.75);
    /* padding: 30%; */
}

.noteText input {
    min-width: 30px
}

.noteTodos input {
    width: 80%
}

.noteText:hover .buttons-wrapper {
    display: block;
}

.buttons-wrapper {
    position: absolute;
    bottom: 5px;
    right: 10px;
    display: none;
}

.color-pallet {
    position: absolute;
    bottom: 5px;
    right: 20px;
}

.noteImg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(250, 145, 112);
    width: 300px;
    height: 200px;
    margin: 10px;
    position: relative;
    box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.75);
}

.noteImg:hover .buttons-wrapper {
    display: block;
}

.noteImg img {
    max-width: 200px;
    max-height: 200px;
    margin: 10px;
}

.noteTodos {
    background-color: rgb(183, 121, 241);
    min-width: 300px;
    min-height: 200px;
    padding: 30px;
    margin: 10px;
    position: relative;
    box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.75);
}

.noteTodos:hover .buttons-wrapper {
    display: block;
}

.todoDone {
    text-decoration-line: line-through;
    cursor: pointer;
}