.noteText {
    background-color: blue;
    width: 300px;
    height: 200px;
    margin: 10px;
    position: relative;
}

.noteText:hover :first-child {
    display: block;
}

.delete-button {
    position: absolute;
    bottom: 5px;
    right: 10px;
    display: none;
}

.noteImg {
    background-color: aqua;
    width: 300px;
    height: 200px;
    margin: 10px;
}

.noteImg img {
    max-width: 200px;
    max-height: 200px;
    margin: 10px;
}

.noteTodos {
    background-color: blueviolet;
    width: 300px;
    height: 200px;
    margin: 10px;
}

.todoDone {
    text-decoration-line: line-through;
}