.notes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.filtered-notes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.note-creator {
    text-align: center;
    margin: 10px auto;
    width: 300px;
}

.pinned-notes-container {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    background-color: rgb(248, 100, 74, 0.5);
    justify-content: center;
}

.pinned-notes-container h2 {
    position: absolute;
    top: -30px;
    right: 46%;
}

.color-pallet button {
    border: 0px;
    border-radius: 80px;
    background-color: rgb(95, 94, 94);
}

.note-app-container button:focus {
    background-color: rgb(247, 163, 107);
}

.pin {
    position: absolute;
    top: 5px;
    right: 5px;
}