.email-filter input,
.email-filter select {
    background-color: rgba(221, 221, 221, 0.719);
    /* padding-left: 0px; */
    padding: 7px;
    border-radius: 5px;
    margin: 10px 10px 10px 0;
    border: none;
}

.email-filter select {
    margin: 10px 5px;
}

.email-filter option {
    background-color: rgba(221, 221, 221, 0.719);
    border: none;
}

@media (max-width: 890px) {
    .email-filter input {
        max-width: 150px;
    }
}

@media (max-width:890px) {
    .email-filter input,
    .email-filter select {
        max-width: 150px;
        font-size: 0.8rem;
    }
}

@media (max-width: 720px) {
    .email-filter {
        flex-direction: column;
    }
    .email-filter .selectors {
        flex-direction: row;
    }
    .email-filter input {
        max-width: 200px;
        margin: 5px 0px 0px 10px;
        font-size: 0.7rem;
    }
    .email-filter select {
        max-width: 100px;
        margin: 5px 0px 0px 10px;
        font-size: 0.7rem;
    }
}