.email-filter input,
.email-filter select {
    background-color: rgba(221, 221, 221, 0.719);
    padding: 7px;
    border-radius: 5px;
    margin: 10px;
    border: none;
}

.email-filter option {
    background-color: rgba(221, 221, 221, 0.719);
    border: none;
}