.email-sidebar {
    padding-top: 50px;
    background-color: rgba(255, 255, 255, 0.603);
    width: 220px;
    /* height: 100vh; */
}

.email-sidebar .sticky-bar {
    width: 180px;
    top: 100px;
    font-family: roboto-bold;
}

.email-sidebar button {
    margin-bottom: 5px;
    border: none;
    border-radius: 0px;
    width: 150px;
    padding: 10px;
    background-color: rgba(247, 163, 107, 0.479);
    font-size: 1rem;
    font-family: roboto-bold;
}

.email-sidebar button:focus {
    height: 35px;
    width: 160px;
    background-color: rgb(231, 133, 68);
    color: white;
}

.email-sidebar button:hover {
    cursor: pointer;
    background-color: rgb(241, 164, 113);
    color: white;
}

.email-sidebar a {
    background-color: rgba(245, 70, 70, 0.658);
    margin-bottom: 10px;
    padding: 15px;
    color: black;
    border-radius: 15px;
    font-size: 1.5rem;
}

.email-sidebar a:hover {
    background-color: rgba(253, 52, 52, 0.856);
    color: white;
}

.email-sidebar .action-button {
    display: none;
}

.sticky .email-sidebar .sticky-bar {
    position: fixed;
    z-index: 2;
    width: 180px;
    top: 100px;
    /* height: 100vh; */
}

.sticky .email-sidebar {
    width: 220px;
}

@media (max-width: 790px) {
    .email-sidebar {
        max-width: 100px;
    }
    .email-sidebar button {
        margin-bottom: 3px;
        padding: 5px;
        font-size: 0.8rem;
        width: 80px;
    }
    .email-sidebar a {
        background-color: rgba(245, 70, 70, 0.5);
        margin-bottom: 10px;
        padding: 5px;
        font-size: 1rem;
        border-radius: 10px;
    }
    .email-sidebar button:focus {
        height: 26px;
        width: 85px;
        background-color: rgb(231, 133, 68);
        color: white;
    }
}

@media (max-width: 700px) {
    .email-sidebar {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        transform: translateX(-100%);
        transition: transform .8s, box-shadow .3s;
        z-index: 3;
    }
    .open-sidebar .email-sidebar {
        transform: translateX(0);
        /* box-shadow: -6px 0px 14px rgba(0, 0, 0, 0.2); */
    }
    .open-sidebar .email-sidebar .action-button {
        display: block;
        position: fixed;
        z-index: 3;
        background-color: rgb(231, 133, 68);
        width: 50px;
    }
    .email-sidebar .action-button {
        width: 50px;
        left: 100px;
        display: block;
        position: fixed;
        z-index: 3;
    }
    .email-sidebar .action-button:focus {
        height: 25px;
        width: 50px;
        background-color: rgb(231, 133, 68);
    }
}